* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  margin: auto;
}

tr {
  border: 2px solid black;
}

tr:nth-child(even) td {
  background-color: rgb(235, 235, 235);
}

td {
  border: 1px solid black;
}

input {
  border: none;
  outline: none;
  padding: 10px;
  background-color: #0000;
}